@using System.Web.Mvc
@using System.Web.Mvc.Html
@model DataNervesUI.Models.NewsDataModel

@{
    ViewBag.Title = "News Frequency Search";
}

<div id="NewsSearchForm">
    <div class="master-content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
    </div>
    <div>
        <p class="descriptionText">
            This tool enables you to analyze the popularity of topics in American news coverage.
            You can use it to gather data on major trends in news reporting and visualize them in seconds.
            Try searching issues that interest you to see how the volume of coverage changes over time and how it compares to other topics.<br/>
        </p>
    </div>
    <div id="NewsDataFormWrapper">
        <table id="NewsDataSearchForm">
            <tr>
                <td>
                    <span>
                        Enter search term or terms. Boolean operators are supported
                    </span><br/>
                    <input type="text" id="SearchTerms" placeholder="Keywords"/>
                    <span>&nbsp; in &nbsp;</span>
                    <select id="SearchTargets">
                        <option value="">entire article</option>
                        <option value="Lead">lede</option>
                        <option value="Title">headline</option>
                        <option value="Topics">index terms</option>
                        <option value="Author">author</option>
                        <option value="Section">section</option>
                        <option value="Source">source</option>
                    </select>
                    <span class="question"><strong>?</strong></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Enter news source:<br/></span>
                    <input type="text" id="SearchSource" placeholder="News source"/>
                </td>
            </tr>
            <tr>
                <td>
                    <span> Enter date range: </span><br/>
                    <input type="text" id="DateFrom" class = "DatePicker" placeholder = "Start date"/>
                    <span>&nbsp; to &nbsp;</span>  
                    <input type="text" id="DateTo" class = "DatePicker" placeholder = "End date"/>
                </td>
            </tr>
            <tr>
                <td>
                    <span id="ErrorLabel"></span>
                    <input type="submit" value="Search" id="SearchButton" onclick="newsSearch()" />
                    <input type="button" value="Clear data" id="ClearButton" onclick="clearResults()" class = "disabledButton" disabled="disabled" />
                    <div class="modal">
                        <img src="http://i.imgur.com/RZPE8Wh.gif"/>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="NewsFormRadioGroupWrapper">
        <table>
            <tr>
                <td>
                    <div id="SearchIncrementRadioGroup">
                        <span>Search increment: </span><span class="question"><strong>?</strong></span><br/>
                        <input type="radio" name="searchIncrement" id="Monthly" checked/> Monthly <br/>
                        <input type="radio" name="searchIncrement" id="Annual"/> Annual <br/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>            
                <div id="SearchWeightRadioGroup">
                    <span>Search type: </span><span class="question"><strong>?</strong></span><br/>
                    <input type="radio" name="searchWeight" id="Unweighted" checked/> Unweighted <br/>
                    <input type="radio" name="searchWeight" id="Weighted"/> Weighted <br/>
                </div>
                </td>
            </tr>
        </table>
    </div>
    
</div>
 
<div id="NewsDataGraphWrapper">
    <canvas id="NewsDataGraph" height="350" width="500"></canvas>
    <div id="NewsDataGraphLegend"></div>
    <div id="NewsDataGraphLabel"></div>
</div>
    
<div id="NewsDataTableWrapper">  
    <table id="NewsDataTable">
        <tr class="newsTableHead">
            <td>
                Search Term
            </td>
            <td>
                Date From
            </td>
            <td>
                Date To
            </td>
            <td>
                Article Count
            </td>
        </tr>
        <tbody id="NewsDataTableContent">
        </tbody>
    </table>
    <meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
</div> 



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".DatePicker").datepicker({ changeYear: true });
        });

        $body = $("body");

        $(document).on({
            ajaxStart: function () {
                if (!$('#None').is(':checked')) {
                    $body.addClass("loading");
                }
            },
            ajaxStop: function () {
                $body.removeClass("loading");
            }
        });

        $(document).ready(function () {
            $("span.question").hover(function () {
                $(this).append('<div class="tooltip"><p>Monthly searches retrieve one data point for each month in the date range. Annual searches retrieve one point per year. <strong>Single data points cannot be graphed.</strong></p></div>');
            }, function () {
                $("div.tooltip").remove();
            });
        });
    </script>
}