@using System.Web.Mvc
@using System.Web.Mvc.Html
@model DataNervesUI.Models.NewsFreqModel

@{
    ViewBag.Title = "Keyword Frequency Search";
}

<div class="master-content-wrapper">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</div>
<div id="NewsFreqFormWrapper"  class="block-content-wrapper">
    <div>
        <!--<input type="button" value="What can I search?" id="inspirationButton"/>
        <input type="button" value="How does this work?" id="helpButton"/>-->
        <p class="descriptionText">
            <!--What topics do American News Media cover, and how do they change over time?-->
            This tool shows you the frequency that given keywords appear in American News Media.
            You can use it to look at trends in news reporting and visualize them in seconds.
            Try searching issues that interest you to see how the volume of coverage changes over time and how it compares to other topics. 
        </p>
        <p>
            Hover over the <strong class>?</strong> icons for help.
        </p>
        
        <p class="inspirationText" style="display:none">
            Possible topics include: Political candidates, social movements, actors/actresses, artists, countries, epidemics, weather patterns, sports.<br/>
            Possible questions to research include: <br/>
            Which presidential hopefuls get the most media attention? How did volume of coverage evolve over the wars in Iraq and Afghanistan?
            What major countries appear less in the news than Justin Bieber?
            What TV shows or movies generate the largest amount of media attention? Does this relate to critical response?
        </p>
    </div>
    <div id="NewsFreqInputWrapper">
        <table id="NewsFreqSearchForm">
            <tr>
                <td>
                    <span>
                        <span class="formHeaderSmall">Enter keyword(s) to query.</span> You may use boolean operators AND and OR with parentheses to specify multiple terms.
                    </span><br/>
                    <input type="text" id="SearchTerms" placeholder="Keywords"/>
                    <span>&nbsp; in &nbsp;</span>
                    <select id="SearchTargets">
                        <option value="Lead">lead paragraph</option>
                        <option value="">entire article</option>
                        <option value="Title">headline</option>
                        <option value="Topics">index terms</option>
                        <option value="Author">author</option>
                        <option value="Section">section</option>
                        <option value="Source">source</option>
                    </select>
                </td>
            </tr>
            <tr>
                
                <td>
                    <div id="NewsFreqInputSourceWrapper">
                        <span class="formHeaderSmall">Search in:</span>
                         <span class="question" data-tooltiptext= "You can filter your search by news organization. Entering 'Fox News' or 'The Boston Globe' will search only articles from sources matching that name"><strong>?</strong></span><br/>
                        <div id="SourceTypeRadioGroup" class="NewsFreqRadioGroup" style="display:none">
                            <input type="radio" name="sourceType" id="SourceRadio" checked/><label for="SourceRadio"> Source publication </label><br/>
                            <input type="radio" name="sourceType" id="ParentRadio"/><label for="ParentRadio"> Parent company</label><br/>
                        </div>
                        <input type="text" id="SearchSource" placeholder="News source (optional)"/>
                        <select id="ParentCompany" style="display:none">
                            <option value="">Comcast</option>
                            <option value="">Disney</option>
                            <option value="">NewsCorp / 21st Century Fox</option>
                            <option value="">Time Warner</option>
                            <option value="">Viacom</option>
                            <option value="">CBS</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="formHeaderSmall">Enter date range:</span><br/>
                    <input type="text" id="DateFrom" class = "DatePicker" placeholder = "Start date"/>
                    <span>&nbsp; to &nbsp;</span>  
                    <input type="text" id="DateTo" class = "DatePicker" placeholder = "End date"/>
                </td>
            </tr>
            <tr>
                <td>
                    <span id="ErrorLabel"></span>
                    <input type="submit" value="Search" id="SearchButton"/>
                    <input type="button" value="Clear data" id="ClearButton" class = "disabledButton" disabled="disabled" />
                    <span class="loadingIcon">
                        <img src="http://i.imgur.com/RZPE8Wh.gif"/>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div id="NewsFormRadioGroupWrapper">
        <table>
            <tr>
                <td>
                    <div id="SearchIncrementRadioGroup" class="NewsFreqRadioGroup">
                        <span class="formHeaderSmall">Search increment:</span>
                        <span class="question" data-tooltiptext= "Monthly searches retrieve one data point for each month in the date range. Annual searches retrieve one point per year. <strong>Single data points cannot be graphed.</strong>">
                            <strong>?</strong>
                        </span><br/>
                        <input type="radio" name="searchIncrement" id="Monthly" checked/><label for="Monthly"> Monthly</label><br/>
                        <input type="radio" name="searchIncrement" id="Annual"/><label for="Annual"> Annual</label> <br/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>   
                    <div id="SearchWeightRadioGroup" class="NewsFreqRadioGroup">
                        <span class="formHeaderSmall">Results display:</span>
                        <span class="question" data-tooltiptext= "A total search returns the <strong>total number</strong> of articles that include your keyword. A proportion search shows the <strong>percentage</strong> of all articles in which that keyword appears">
                            <strong>?</strong>
                        </span><br/>
                        <input type="radio" name="searchWeight" id="Unweighted" checked/><label for="Unweighted"> Total articles</label>&nbsp;<br/>
                        <input type="radio" name="searchWeight" id="Weighted"/> <label for="Weighted"> Proportion of articles</label><br/>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
 
<div id="NewsFreqGraphWrapper" >
    <canvas id="NewsFreqGraph" height="350" width="480"></canvas>
    <div id="NewsFreqGraphLegend"></div>
    <div id="NewsFreqGraphLabel"></div>
</div>
    
<div id="NewsFreqTableWrapper" class="block-content-wrapper">  
    <table id="NewsFreqTable">
        <tbody id="NewsFreqTableContent">
        </tbody>
    </table>
    <meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
</div> 

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var newsFreq = new NewsFreq();
        });
    </script>
}