@using System.Web.Mvc
@using System.Web.Mvc.Html
@model DataNervesUI.Models.NewsDataModel

@{
    ViewBag.Title = "News Frequency Search";
}
@section featured {
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
}

<div>
    <table id="NewsLibrarySearchForm">
        <tr>
            <td>
                <span>
                    Enter search term or terms. Boolean operators are supported
                </span><br/>
                <input type="text" id="SearchTerms" placeholder="Search Terms"/>
            </td>
        </tr>
        <tr>
            <td>
                <span> Enter date from and date to </span><br/>
                <input type="text" id="DateFrom" class = "DatePicker" placeholder = "mm/dd/yyyy"/>
                <span>&nbsp; to &nbsp;</span>  
                <input type="text" id="DateTo" class = "DatePicker" placeholder = "mm/dd/yyyy"/>
                
            </td>
            <td>
                <input type="radio" name="specialSearches" id="Monthly"/> Monthly <br/>
                <input type="radio" name="specialSearches" id="MonthlyTrend"/> Monthly trend with graph
            </td>
        </tr>
        <tr>
            <td>
            <!--
                <span> Choose search target</span><br/>
                <select>
                    <option value="">None</option>
                </select>
                
                <br/><br/>
                -->
                <input type="button" value="Search" id="SearchButton" onclick="newsSearch()" />
            </td>
        </tr>
    </table>
    <table id="NewsDataTable" style="display:none">
            <tr class="tableHead">
                <td>
                    Search terms
                </td>
                <td>
                    Date from
                </td>
                <td>
                    Date to
                </td>
                <td>
                    Number of articles
                </td>
            </tr>
        <tbody id="NewsDataTableContent">
            
        </tbody>
    </table>
</div>

<br/>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".DatePicker").datepicker();
        });
    </script>
}