/* News form elements */ 
.descriptionText {
    font-size: 1em;
    position: relative;
    max-width: 410px;
}

.disclaimer {
    font-size: 0.8em;
    max-width: 410px;
}

#NewsSearchForm {
    position: relative;
    min-height: 360px;
    float: left;
}

#SpecialSearchRadioGroup {
    position: absolute; top: 233px; left: 250px;
}

/* Data table */ 
#NewsDataTableWrapper {
    min-width: 410px;
    position: relative;
    float: left;
}

#NewsDataTable .newsTableHead
{
    font-weight: bold;
}

#NewsDataTable tr:nth-child(even) {
    background-color: #b3d7e0;
    
}

#NewsDataTable {
    display: none;
    font-size: 0.9em;
}

/* Data display */
#NewsDataChartWrapper {
    float: left;
    min-width: 300px;
    margin-top: 8px;
}

#NewsDataChart
{
    display: none;
}
    

/* Legend */ 

#GraphLegend {
    position: relative;
    left: 25px;
}

/* Loading icons */
.modal {
    display:    none;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: inline;
}


/* Inputs */
input[type=button].disabledButton {
    color: #bbb;
    background-color: #d3dce0;
    
}

input[type=button].disabledButton:hover {
    color: #bbb;
}

.DatePicker.disabled{
    color: #bbb;
}

input[type=text] {
    color: #676767;
}

