/* News form elements */ 
.descriptionText {
    font-size: 1em;
    position: relative;
    max-width: 410px;
}

.disclaimer {
    font-size: 0.8em;
    max-width: 410px;
}

#NewsSearchForm {
    position: relative;
    min-height: 360px;
    float: left;
}

#SpecialSearchRadioGroup {
    position: absolute; top: 233px; left: 250px;
}

/* Data table */ 
#NewsDataTableWrapper {
    min-width: 410px;
    position: relative;
    float: left;
}

#NewsDataTable .newsTableHead
{
    font-weight: bold;
}

#NewsDataTable tr:nth-child(even) {
    background-color: #b3d7e0;
    
}

#NewsDataTable {
    display: none;
    font-size: 0.9em;
}

/* Data display */
#NewsDataChartWrapper {
    float: left;
    max-width: 500px;
    margin-top: 8px;
}

#NewsDataChart
{
    display: none;
}
    

/* Legend */ 

#GraphLegend {
    position: relative;
    left: 25px;
    font-size: 0.8em;
    line-height: 20px
}

/* Loading icons */
.modal {
    display:    none;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: inline;
}


/* Inputs */
input.invalid {
    border: 1px #800000 solid;
}

input[type=button].disabledButton, input[type=submit].disabledButton {
    color: #bbb;
    background-color: #d3dce0;
    cursor: default;
}

input[type=button].disabledButton:hover, input[type=submit].disabledButton:hover {
    color: #bbb;
}

.DatePicker.disabled{
    color: #bbb;
}

.ui-datepicker {
    font-size: 0.85em;
    border-radius: 0px;
}

.ui-datepicker-header {
    border-radius: 0px;
    background: #cccccc;
}

input[type=text] {
    color: #676767;
}

/* Tooltip */

span.question {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #d3dce0;
  line-height: 16px;
  color: #676767;
  font-size: 11px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  text-align: center;
  position: relative;
}
span.question:hover { background-color: #b3d7e0; }
div.tooltip {
  background-color: #dae3e6;
  color: White;
  position: absolute;
  left: 25px;
  top: -25px;
  z-index: 1000000;
  width: 250px;
  border-radius: 2px;
  text-align: left;
  border: solid 1px #cccccc;
}
div.tooltip:before {
  border-color: transparent #d3dce0 transparent transparent;
  border-right: 6px solid #d3dce0;
  border-style: solid;
  border-width: 6px 6px 6px 0px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  line-height: 0;
  position: absolute;
  top: 30%;
  left: -6px;
  
}
div.tooltip p {
  margin: 6px;
  color: #676767;
}