/* News form page elements */ 
.descriptionText {
    font-size: 1em;
    position: relative;
    max-width: 430px;
}

.disclaimer {
    font-size: 0.8em;
    max-width: 430px;
}

#NewsDataTable .newsTableHead
{
    font-weight: bold;
}

#NewsDataTable tr:nth-child(even) {
    background-color: #b3d7e0;
    
}

#NewsDataTable {
    display: none;
    position: relative;
}

#NewsDataChart
{
    display: none;
}

#NewsSearchForm {
    position: relative;
    min-height: 360px;
}

#SpecialSearchRadioGroup {
    position: absolute; top: 180px; left: 250px;
}

#NewsDataChartWrapper {
    position: absolute;
    top: -34px;
    left: 492px;
}

#GraphLegend {
    position: absolute;
    top: 425px;
    left: 530px;
}

/* Loading icons */
.modal {
    display:    none;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: inline;
}

/* Custom buttons */

input[type=button].disabledButton {
    color: #bbb;
    background-color: #d3dce0;
    
}

input[type=button].disabledButton:hover {
    color: #bbb;
}

/* Inputs */
input[type=text] {
    color: #676767;
}

